---
import Title from "../../components/Title.astro"
---
<article class="section--mainInfo--about">
    <Title 
        children="Sobre mí"/>
    <p>Soy un apasionado de las nuevas tecnologías, me encanta el desarrollo web, más concretamente enfocado al desarrollo back-end. Con motivación, ganas de aprender y trabajar en equipo.</p>
</article>