---
import SectionAbout from './SectionMainInfo/SectionAbout.astro';
import SectionExperience from './SectionMainInfo/SectionExperience.astro';
import SectionStudies from './SectionMainInfo/SectionStudies.astro';
---
<section class="section--mainInfo flex flex-col gap-y-4 sm:w-[70%] w-full sm:order-2 order-1 sm:mb-0 mb-4">
    <SectionAbout />
    <SectionExperience />
    <SectionStudies />
</section>