---
import SectionMoreInfo from "./SectionSecondaryInfo/SectionMoreInfo.astro"
import SectionLanguages from "./SectionSecondaryInfo/SectionLanguages.astro"
import SectionSkills from "./SectionSecondaryInfo/SectionSkills.astro"
import SectionTechnologies from "./SectionSecondaryInfo/SectionTechnologies.astro"
---
<section class="section--secondaryInfo sm:w-[30%] w-full flex flex-col gap-y-4 sm:order-1 order-2">
    <SectionMoreInfo />
    <SectionLanguages />
    <SectionSkills />
    <SectionTechnologies />
</section>