---
import Title from "../../components/Title.astro";
---
<article class="section--secondaryInfo--skills">
    <Title 
        children="Tecnologías"/>
    <li>HTML, CSS, JavaScript, React.js</li>
    <li>Python, Node,js, PHP</li>
    <li>SQL, MongoDB</li>
    <li>TailwindCSS, Bootstrap, Sass</li>
    <li>Git</li>        
</article>