---
import Title from "../../components/Title.astro";
---
<article class="section--secondaryInfo--languages">
    <Title 
        children="Idiomas"/>
    <p class="font-semibold">Castellano</p>
    <p>Nativo</p>
    <p class="font-semibold">Inglés</p>
    <p>Nivel Medio</p>
    <p class="font-semibold">Francés</p>
    <p>Nivel básico</p>
</article>