---
import Title from "../../components/Title.astro";
---
<article class="section--secondaryInfo--moreInfo">
    <Title 
        children="Más Información"/>
    <li>Carné de conducir.</li>
    <li>Vehículo propio.</li>
    <li>Cinturón Negro 1º DAN (Karate)</li>
</article>