---
import Title from "../../components/Title.astro";
---
<article class="section--secondaryInfo--skills">
    <Title 
        children="Habilidades"/>
    <li>Buena comunicación</li>
    <li>Trabajo en equipo</li>
    <li>Resolución de problemas</li>
    <li>Agilidad y efectividad</li>  
</article>